button{
  background-color: #ff0000;
  color: black;
  width: 80px;
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 487px;
}
form{
  text-align: center;
}
label{
  width: 240px;
  display: inline-block;
  text-align: left;
}
input{
  width: 20%;
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  text-align: right;
}
#total{
  font-weight: bold;
}
h1{
  width: auto;
  text-align: center;
  background-color: lightgreen;
  font-family: 'Courier New', Courier, monospace;
}